body {
  margin: 0;
  padding: 0 40px;
  font-family: 'Courier Prime', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

h1{
  font-family: 'Courier Prime', monospace;
}

h2{
  font-family: 'Courier Prime', monospace;
}